<div class="overall">
    <form class="example-form" [formGroup]="loginform">
        <mat-form-field class="example-full-width">
          <mat-label class="field">Firstname</mat-label>
          <input  class="field" [(ngModel)]="userid.Firstname"  matInput placeholder="firstname"formControlName="Firstname" name="Firstname" >
          <small *ngIf="Firstname.invalid && Firstname.dirty ||Firstname.touched" class="required">
            <div class="rrr" *ngIf="Firstname.errors?.['required']">Firstname Is Required</div>
           
                      </small>
        </mat-form-field>
      

        <mat-form-field class="example-full-width">
          <mat-label  class="field">Lastname</mat-label>
          <input  class="field"  [(ngModel)]="userid.Lastname"  matInput placeholder="Lastname"  formControlName="Lastname" name="Lastname">
          <small *ngIf="Lastname.invalid && Lastname.dirty ||Lastname.touched" class="required">
            <div class="rrr" *ngIf="Lastname.errors?.['required']">Lastname Is Required</div>
                      </small>
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <mat-label class="field">Email</mat-label>
            <input  class="field"  [(ngModel)]="userid.Email"  matInput placeholder=" Enter Your Email"formControlName="Email" name="Email" >
            <small *ngIf="Email.invalid && Email.dirty ||Email.touched" class="required">
              <div class="rrr" *ngIf="Email.errors?.['required']">Email Is Required</div>
              <div class="rrr" *ngIf="Email.errors?.['email']">Email Is Required</div>
                        </small>
          </mat-form-field>
        
  
          <mat-form-field class="example-full-width">
            <mat-label  class="field">Password</mat-label>
            <input  class="field"  [(ngModel)]="userid.Password"  matInput placeholder="Enter Your Password" type="password" formControlName="Password" name="password">
            <small *ngIf="Password.invalid && Password.dirty ||Password.touched" class="required">
              <div class="rrr" *ngIf="Password.errors?.['required']">Password is required</div>
             
                        </small>
          </mat-form-field>
          
          <mat-form-field class="example-full-width">
            <mat-label  class="field">Conformpassword</mat-label>
            <input  class="field"  [(ngModel)]="userid.Conformpassword" matInput placeholder="Enter Your Conformpassword" type="password" formControlName="Conformpassword" name="Conformpassword">
            <small *ngIf="Conformpassword.invalid && Conformpassword.dirty ||Conformpassword.touched" class="required">
              <div class="rrr" *ngIf="Conformpassword.errors?.['required']">Conformpassword Is Required</div>
              <!-- <div *ngIf="loginform.hasError('mismatch') && loginform.get('conformpassword')?.touched">
                Passwords do not match.
              </div> -->
              <div *ngIf="loginform.touched && loginform.value.Password !== loginform.value.Conformpassword">
                Passwords do not match.
              </div>
                        </small>
          </mat-form-field>
      
        <button class="btn" mat-raised-button (click)="done()" >Register</button>
       <!-- <a href="" routerLink="/login"> click here to login</a> -->
       <a class="link" [routerLink]="['/']">clich here to login</a>
      </form>
</div>